{{ form_start(filter_cars) }}

<div class="flex flex-column">

    {{ form_row(filter_cars.brand, {
        label: 'Марка:',
        placeholder: 'Выберите марку ...',
        attr: { 'data-select' : 'false', class: 'w-100' } }) }}


    {{ form_row(filter_cars.model, {
        label: 'Модель:',
        placeholder: 'Выберите модель ...',
        attr: { 'data-select' : 'false', class: ' w-100' } }) }}


    {{ form_row(filter_cars.modification, {
        label: 'Модификация:',
        placeholder: 'Выберите модификацию ...',
        attr: { 'data-select' : 'false', class: 'w-100' } }) }}

</div>

{% for field in filter_cars|filter(v => v.rendered == false) %}

    {% if field.vars.name == 'cars_filter' %}

        {# ПОДОБРАТЬ ШИНЫ #}
        <div class="w-100">

            {{ form_widget(filter_cars.cars_filter,
                {
                    label: 'Подобрать шины',
                    attr: { class: 'btn-danger w-100 h-100 rounded-4 text-uppercase fw-bolder'
                }}
            ) }}
        </div>

    {% else %}

        <div class="mb-3">
            {{ form_row(field, {attr: { 'data-select' : 'false' }}) }}
        </div>

    {% endif %}

{% endfor %}

{{ form_end(filter_cars) }}
