<tr class="vertical-middle">

    {#
    * id - дентификатор профиля
    * event - дентификатор события профиля
    * user_profile_url - адрес персональной страницы
    * usr - идентификатор пользовтаеля

    * user_profile_status - статус модерации пролфиля
    * user_profile_active - статус текущей активности профиля
    * user_profile_username - username пользователя
    * user_profile_location - местоположение
    * image_name - название файла аватарки профиля
    * image_dir - директория файла прафиля
    * image_ext - расширение файла
    * image_cdn - флаг загрузки CDN
    *
    * account_id - идентификтаор аккаунта
    * account_email - email аккаунта
    * user_profile_type - тип профиля пользователя
    #}


    <td class="text-nowrap">
        {# Пользовательское меню #}
        {{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }}
    </td>


    <td class="w-25">

        <div class="d-flex align-items-center">

            <div class="ms-0">


                {# Username #}
                <a href="{{ path('reference-cars:admin.modification.newedit.edit', { id: item.event }) }}"
                   class="text-decoration-none modal-link disabled"
                   data-bs-toggle="modal"
                   data-bs-target="#modal"
                   title="{{ 'btn.edit'|trans({}, 'core.btn') }}"


                >{{ item.brand_name }} {{ item.model_name }}  {{ item.modification }} </a>

                <small class="ms-3">{{ item.code }}</small>


                {# {% if item.model_desc  %}
                #}{# Описание #}{#
                <div class="text-muted small d-flex align-items-center gap-1">
                    {{ item.model_desc }}
                </div>
            {% endif %} #}


            </div>
        </div>
    </td>

    {# <td>
    #}{# {{ item.user_profile_type }} #}{#
    модели
</td> #}


</tr>

