{# {{ include(_self|replace({ "content.html.twig": "header.html.twig" })) }} #}

{# {{ include(_self|replace({ "content.html.twig": "header.html.twig" })) }} #}

<main class="main d-print-none">

    <section class="selection-box container my-4 ">

        <div class="accordion accordion-flush mt-3" id="accordionExample">
            <div class="accordion-item rounded-3 {# bg-info #} shadow">

                <h2 id="headingOne">
                    <button class="accordion-button rounded-3 ps-4 pe-2 py-2 border-0 bg-primary shadow-none collapsed"
                            type="button"
                            aria-label="Подбор шин"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne">
						<span class="h5 text-uppercase fw-bold text-white mb-0">
							Подбор по авто
						</span>
                    </button>
                </h2>

                <div id="collapseOne" class="accordion-collapse collapse" aria-label="headingOne"
                     data-bs-parent="#accordionExample">

                    <div class="accordion-body">
                        {% include '@reference-cars/user/filter/mobile/filter.html.twig' %}
                    </div>
                </div>
            </div>
        </div>


    </section>


    <section class="selection-box container my-4 shadow pb-3">

        <h1 class="h6 text-uppercase fw-bolder mt-3 mb-4">
            Шины для автомобиля {{ brand.name }}
        </h1>

        <ul class="nav nav-pills d-flex gap-3 mb-2" id="pills-tab" role="tablist">

            <li class="nav-item" role="presentation">
                <button class="btn nav-link fw-bolder active"
                        id="pills-popular-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-popular"
                        type="button" role="tab"
                        aria-controls="pills-popular"
                >
                    <span class="text-uppercase px-3">Популярные модели</span>
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="btn nav-link fw-bolder"
                        id="pills-all-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-all"
                        type="button" role="tab"
                        aria-controls="pills-all"
                >
                    <span class="text-uppercase px-3">Все <small>({{ models|length }})</small></span>
                </button>
            </li>

            {#<li class="nav-item ms-auto" role="presentation">
                <a
                        href="{{ path('reference-cars:user.filter') }}"
                        class="btn btn-link fw-bolder text-decoration-none text-uppercase small text-dark">
                    Подбор по автомобилю
                </a>
            </li>#}
        </ul>



        <div class="tab-content w-100" id="alphabet-tabContent">

            <div class="tab-pane fade show active"
                 id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab"
                 tabindex="0">

                <section class="cards-box ">

                    <div class="container">
                        <div class="row">

                            <div class="col-12">
                                <div class="row cards-box-body mt-3">

                                    {% for model in models|sort((a, b) => a.review <=> b.review)|reverse|slice(0, 6) %}
                                        <div class="col-6">
                                            {{ include(_self|replace({ "content.html.twig":"card.html.twig" })) }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>


                        </div>
                    </div>
                </section>

            </div>


            <div class="tab-pane fade"
                 id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab"
                 tabindex="0">


                <section class="cards-box ">

                    <div class="container">
                        <div class="row">

                            <div class="col-12">


                                <div class="row cards-box-body mt-3">

                                    {# {% for brand in brands|sort((a, b) => a.brand_review <=> b.brand_review)|reverse|slice(0, 6) %}
                                <div class="col-2">
                                    {{ include(_self|replace({ "content.html.twig":"brand.html.twig" })) }}
                                </div>
                            {% endfor %} #}

                                    {% for model in models %}
                                        <div class="col-6">
                                            {{ include(_self|replace({ "content.html.twig":"card.html.twig" })) }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

            </div>

        </div>

    </section>

</main>



