
{% set iterate = 1 %}
{% set odd = 'bg-light' %}
{% set even = '' %}



<div class="d-flex flex-column gap-1">

	{% for mod in mods|filter(v => v.characteristic_from <= year and (v.characteristic_to >= year or v.characteristic_to == 0) ) %}

		{% set iterate = iterate + 1 %}


		{#{{ dd(mod) }}#}

		<div class="d-flex justify-content-between p-2 rounded-4 {{ cycle([odd, even], iterate) }}">
			<a
					href="/{{ card.getBrandUrl() }}/{{ card.getModelUrl() }}/{{ mod.url }}/{{ mod.motor_engine }}/{{ mod.motor_power }}" class="w-50 text-decoration-none text-dark"
					title="Шины для {{ card.getBrandName() }} {{ card.getModelName() }} {{ mod.modification }} {{ year }} г.в. с двигателем {{ mod.motor_engine }} {{ mod.motor_fuel }} {{ mod.motor_power }} л.с."
			>
				<span class="text-muted">{{ card.getBrandName() }} {{ card.getModelName() }}</span> &nbsp;
				<strong>{{ mod.modification }}</strong> {{ year }} г.в.
			</a>

			<div class="w-50 d-flex gap-3 align-items-center">

				{{ mod.motor_engine }} {{ mod.motor_fuel }}
				<span class="badge text-bg-warning">{{ mod.motor_power }} л.с</span>


				<span class="small text-muted">
					{{ mod.characteristic_model }} &nbsp;

					<small class="opacity-50">( {{ mod.characteristic_from }}-{{ mod.characteristic_to ? : date('now')|date('Y') }} )</small>
				</span>


				{#{% if mod.characteristic %}
					<span class="text-muted">выпуск до {{ mod.characteristic }} г.в.</span>
				{% endif %}#}

				{# Модель #}{#
				<a href="{{ path('reference-cars:user.brand', { brand: card.getBrandUrl() }) }}" class="text-muted"
				   aria-label="{{ card.getBrandName() }}"
				   title="{{ card.getBrandName() }}">
					{{ card.getBrandName() }}
				</a>#}
			</div>
		</div>

	{% endfor %}

	{#	#}{# Торговое предложение #}{#
		#}{#{% if card.product_offer_value %}#}{#

			{% set iterate = iterate + 1 %}

			<div class="d-flex justify-content-between p-2 rounded-4 {{ cycle([odd, even], iterate) }}">
				<div class="w-50">
					Марка
				</div>
				<div class="w-50 d-flex gap-3 align-items-center">
					#}{# Модель #}{#
					<a href="{{ path('reference-cars:user.brand', { brand: card.getBrandUrl() }) }}" class="text-muted"
					   aria-label="{{ card.getBrandName() }}"
					   title="{{ card.getBrandName() }}">
						{{ card.getBrandName() }}
					</a>
				</div>
			</div>

			{% set iterate = iterate + 1 %}
			
			<div class="d-flex justify-content-between p-2 rounded-4 {{ cycle([odd, even], iterate) }}">
				<div class="w-50">
					#}{# Название торгового предложения #}{#
					Модель
				</div>
				<div class="w-50 d-flex gap-3 align-items-center">
					#}{# Значение торгового предложения #}{#
					<a href="#}{#{{ path('products-product:user.model', { url: card.url }) }}#}{#" class="text-muted"
					   aria-label="{{ card.getModelName() }}"
					   title="{{ card.getModelName() }}">
						{{ card.getModelName() }}
					</a>
				</div>
			</div>#}


	</div>
