
<tr class="vertical-middle">

    {#
    * id - дентификатор профиля
    * event - дентификатор события профиля
    * user_profile_url - адрес персональной страницы
    * usr - идентификатор пользовтаеля

    * user_profile_status - статус модерации пролфиля
    * user_profile_active - статус текущей активности профиля
    * user_profile_username - username пользователя
    * user_profile_location - местоположение
    * image_name - название файла аватарки профиля
    * image_dir - директория файла прафиля
    * image_ext - расширение файла
    * image_cdn - флаг загрузки CDN
    *
    * account_id - идентификтаор аккаунта
    * account_email - email аккаунта
    * user_profile_type - тип профиля пользователя
    #}


    <td class="text-nowrap">
        {# Пользовательское меню #}
        {{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }}
    </td>


    <td class="w-25">

        <div class="d-flex align-items-center">

            {# Обложка #}
            {% set image_path = '/assets/img/blank.svg' %}

            {% if item.image_ext is defined and item.image_ext is not null %}
                {% set img_host =  item.image_cdn == true  ? CDN_HOST : '' %}
                {#{% set img_table = '/upload/' ~ constant('BaksDev\\Payment\\Entity\\Cover\\PaymentCover::TABLE') %}#}
                {% set img_dir = item.image_name %}
                {% set img_file = (img_host is empty ? '/image.' : '/min.') ~ item.image_ext %}
                {% set image_path = img_host ~ img_dir ~ img_file %}
            {% endif %}


            <a href="{#{{ path('reference-cars:admin.brand.newedit.edit', { id: item.event }) }}#}" class="pe-3">
                <div class="rounded-circle bg-contain lazy p-1" style="width: 50px; height: 50px;"
                     data-bg="{{ image_path }}">
                </div>
            </a>

            <div class="ms-0">

                {# Username #}
                <a href="{{ path('reference-cars:admin.modification.index', {
                    brand : item.brand_id,
                    model: item.id
                }) }}"
                   class="text-decoration-none"
                >{{ item.brand_name }} {{ item.model_name }}</a>


                <small class="ms-3">{{ item.code }}</small>


                {% if item.model_desc  %}
                    {# Описание #}
                    <div class="text-muted small d-flex align-items-center gap-1">
                        {{ item.model_desc }}
                    </div>
                {% endif %}


            </div>
        </div>
    </td>


    <td class="text-nowrap">
        {{ item.year_from }} - {{ item.year_to ?: 'наст. время' }}
    </td>

    <td class="text-nowrap">
        {{ item.class|trans({}, 'reference.cars.model') }}
    </td>


</tr>

